<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>B_r_a_v_o_exclam_exclam_exclam</key>
		<string>B__r_a_v_o_exclam_exclam_exclam.glif</string>
		<key>D</key>
		<string>D_.glif</string>
		<key>E</key>
		<string>E_.glif</string>
		<key>Eng</key>
		<string>E_ng.glif</string>
		<key>Eogonek.isol</key>
		<string>E_ogonek.isol.glif</string>
		<key>F</key>
		<string>F_.glif</string>
		<key>G</key>
		<string>G_.glif</string>
		<key>G.e</key>
		<string>G_.e.glif</string>
		<key>Germandbls</key>
		<string>G_ermandbls.glif</string>
		<key>I</key>
		<string>I_.glif</string>
		<key>IJ.isol</key>
		<string>I_J_.isol.glif</string>
		<key>J</key>
		<string>J_.glif</string>
		<key>J.e</key>
		<string>J_.e.glif</string>
		<key>K.isol</key>
		<string>K_.isol.glif</string>
		<key>L</key>
		<string>L_.glif</string>
		<key>L.isol</key>
		<string>L_.isol.glif</string>
		<key>L.swsh</key>
		<string>L_.swsh.glif</string>
		<key>N</key>
		<string>N_.glif</string>
		<key>OE</key>
		<string>O_E_.glif</string>
		<key>Oslash</key>
		<string>O_slash.glif</string>
		<key>Q</key>
		<string>Q_.glif</string>
		<key>Q.isol</key>
		<string>Q_.isol.glif</string>
		<key>R.isol</key>
		<string>R_.isol.glif</string>
		<key>S</key>
		<string>S_.glif</string>
		<key>Uogonek</key>
		<string>U_ogonek.glif</string>
		<key>W</key>
		<string>W_.glif</string>
		<key>a</key>
		<string>a.glif</string>
		<key>a.medi</key>
		<string>a.medi.glif</string>
		<key>adieresis.medi</key>
		<string>adieresis.medi.glif</string>
		<key>adieresis.medi.salt</key>
		<string>adieresis.medi.salt.glif</string>
		<key>ae</key>
		<string>ae.glif</string>
		<key>aogonek</key>
		<string>aogonek.glif</string>
		<key>aogonek.medi</key>
		<string>aogonek.medi.glif</string>
		<key>arrowdown</key>
		<string>arrowdown.glif</string>
		<key>arrowup</key>
		<string>arrowup.glif</string>
		<key>b</key>
		<string>b.glif</string>
		<key>b.e</key>
		<string>b.e.glif</string>
		<key>backslash</key>
		<string>backslash.glif</string>
		<key>brokenbar</key>
		<string>brokenbar.glif</string>
		<key>c</key>
		<string>c.glif</string>
		<key>circumflexcomb</key>
		<string>circumflexcomb.glif</string>
		<key>dieresiscomb.case</key>
		<string>dieresiscomb.case.glif</string>
		<key>divide</key>
		<string>divide.glif</string>
		<key>dotaccentcomb</key>
		<string>dotaccentcomb.glif</string>
		<key>emdash</key>
		<string>emdash.glif</string>
		<key>eogonek</key>
		<string>eogonek.glif</string>
		<key>eogonek.medi</key>
		<string>eogonek.medi.glif</string>
		<key>eogonek.postb</key>
		<string>eogonek.postb.glif</string>
		<key>equal</key>
		<string>equal.glif</string>
		<key>eth</key>
		<string>eth.glif</string>
		<key>exclamdown</key>
		<string>exclamdown.glif</string>
		<key>f.medi</key>
		<string>f.medi.glif</string>
		<key>five</key>
		<string>five.glif</string>
		<key>g.e</key>
		<string>g.e.glif</string>
		<key>g.isol</key>
		<string>g.isol.glif</string>
		<key>g.medi.e</key>
		<string>g.medi.e.glif</string>
		<key>germandbls.salt</key>
		<string>germandbls.salt.glif</string>
		<key>gravecomb</key>
		<string>gravecomb.glif</string>
		<key>guilsinglright</key>
		<string>guilsinglright.glif</string>
		<key>h</key>
		<string>h.glif</string>
		<key>hyphen.calt</key>
		<string>hyphen.calt.glif</string>
		<key>idotless</key>
		<string>idotless.glif</string>
		<key>ij</key>
		<string>ij.glif</string>
		<key>ij.e</key>
		<string>ij.e.glif</string>
		<key>ij.fina</key>
		<string>ij.fina.glif</string>
		<key>infinity</key>
		<string>infinity.glif</string>
		<key>instroke.ascender</key>
		<string>instroke.ascender.glif</string>
		<key>iogonek</key>
		<string>iogonek.glif</string>
		<key>jdotless.e</key>
		<string>jdotless.e.glif</string>
		<key>joint.Ea</key>
		<string>joint.E_a.glif</string>
		<key>joint.Eh</key>
		<string>joint.E_h.glif</string>
		<key>joint.Ex</key>
		<string>joint.E_x.glif</string>
		<key>joint.Ez</key>
		<string>joint.E_z.glif</string>
		<key>joint.Ge</key>
		<string>joint.G_e.glif</string>
		<key>joint.bo</key>
		<string>joint.bo.glif</string>
		<key>joint.eh</key>
		<string>joint.eh.glif</string>
		<key>joint.ex</key>
		<string>joint.ex.glif</string>
		<key>joint.gz</key>
		<string>joint.gz.glif</string>
		<key>joint.ne</key>
		<string>joint.ne.glif</string>
		<key>joint.nh</key>
		<string>joint.nh.glif</string>
		<key>joint.oe</key>
		<string>joint.oe.glif</string>
		<key>joint.oh</key>
		<string>joint.oh.glif</string>
		<key>joint.sschwa</key>
		<string>joint.sschwa.glif</string>
		<key>k</key>
		<string>k.glif</string>
		<key>less</key>
		<string>less.glif</string>
		<key>lslash_lslash</key>
		<string>lslash_lslash.glif</string>
		<key>m</key>
		<string>m.glif</string>
		<key>manicule_semibold</key>
		<string>manicule_semibold.glif</string>
		<key>minus</key>
		<string>minus.glif</string>
		<key>multiply</key>
		<string>multiply.glif</string>
		<key>o.e</key>
		<string>o.e.glif</string>
		<key>oe</key>
		<string>oe.glif</string>
		<key>one.osf</key>
		<string>one.osf.glif</string>
		<key>one.tosf</key>
		<string>one.tosf.glif</string>
		<key>ordfeminine</key>
		<string>ordfeminine.glif</string>
		<key>oslash.isol</key>
		<string>oslash.isol.glif</string>
		<key>paragraph</key>
		<string>paragraph.glif</string>
		<key>plus</key>
		<string>plus.glif</string>
		<key>q.medi</key>
		<string>q.medi.glif</string>
		<key>question</key>
		<string>question.glif</string>
		<key>questiondown</key>
		<string>questiondown.glif</string>
		<key>quoteleft</key>
		<string>quoteleft.glif</string>
		<key>quoteright</key>
		<string>quoteright.glif</string>
		<key>s</key>
		<string>s.glif</string>
		<key>seven.salt</key>
		<string>seven.salt.glif</string>
		<key>six</key>
		<string>six.glif</string>
		<key>slash</key>
		<string>slash.glif</string>
		<key>t.r</key>
		<string>t.r.glif</string>
		<key>thumbsup_bold</key>
		<string>thumbsup_bold.glif</string>
		<key>tildecomb.case</key>
		<string>tildecomb.case.glif</string>
		<key>two</key>
		<string>two.glif</string>
		<key>two.osf</key>
		<string>two.osf.glif</string>
		<key>two.salt</key>
		<string>two.salt.glif</string>
		<key>u</key>
		<string>u.glif</string>
		<key>udieresis</key>
		<string>udieresis.glif</string>
		<key>uogonek</key>
		<string>uogonek.glif</string>
		<key>w</key>
		<string>w.glif</string>
		<key>whiteLeftBackhandIndex</key>
		<string>whiteL_eftB_ackhandI_ndex.glif</string>
		<key>whiteLeftBackhandIndex.VAR</key>
		<string>whiteL_eftB_ackhandI_ndex.V_A_R_.glif</string>
		<key>whiteRightBackhandIndex</key>
		<string>whiteR_ightB_ackhandI_ndex.glif</string>
		<key>whiteRightBackhandIndex.VAR</key>
		<string>whiteR_ightB_ackhandI_ndex.V_A_R_.glif</string>
		<key>y</key>
		<string>y.glif</string>
		<key>y.e</key>
		<string>y.e.glif</string>
		<key>y.fina</key>
		<string>y.fina.glif</string>
		<key>yen</key>
		<string>yen.glif</string>
		<key>zero.tf</key>
		<string>zero.tf.glif</string>
	</dict>
</plist>
