<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>com.schriftgestaltung.appVersion</key>
		<string>3435</string>
		<key>com.schriftgestaltung.axes</key>
		<array>
			<dict>
				<key>name</key>
				<string>Weight</string>
				<key>tag</key>
				<string>wght</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Ascenders</string>
				<key>tag</key>
				<string>YTAS</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Uppercase</string>
				<key>tag</key>
				<string>YTUC</string>
			</dict>
		</array>
		<key>com.schriftgestaltung.axesValues</key>
		<array>
			<integer>245</integer>
			<integer>1400</integer>
			<integer>1600</integer>
		</array>
		<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
		<false/>
		<key>com.schriftgestaltung.font.customParameters</key>
		<array>
			<dict>
				<key>name</key>
				<string>Name Table Entry</string>
				<key>value</key>
				<string>10 3 1 0x0809; Primæ is a type for learning to read and write. Supported by the city of Vienna 2021–25. Made in Vienna, Austria, by Wiener Schriften.</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Name Table Entry</string>
				<key>value</key>
				<string>19 3 1 0x0809; The five boxing wizards jump quickly.</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Name Table Entry</string>
				<key>value</key>
				<string>10 3 1 0x0407; Primæ ist eine Schulschrift zum Lesen- und Schreibenlernen. Gebaut aus den Mitteln der Stadt Wien 2021–25. Made in Vienna, Austria, by Wiener Schriften.</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Name Table Entry</string>
				<key>value</key>
				<string>19 3 1 0x0407; Schweißgequält vom öden Text zürnt Typograf Jakob.</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Feature for Feature Variations</string>
				<key>value</key>
				<string>rlig</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Disable autohinting for glyphs</string>
				<key>value</key>
				<array>
					<string>gClef-musical</string>
					<string>ballotBoxWithCheck</string>
					<string>checkmark</string>
					<string>whiteHeart</string>
					<string>heavyBlackHeart</string>
					<string>heartsuitwhite</string>
					<string>heartsuitblack</string>
					<string>pencil</string>
					<string>pencil.cv01</string>
					<string>lowerRightPencil</string>
					<string>upperRightPencil</string>
					<string>lowerLeftFountainPen</string>
					<string>fountainPen</string>
					<string>whiteLeftBackhandIndex</string>
					<string>whiteRightBackhandIndex</string>
					<string>thumbsUpSign</string>
					<string>snowflake</string>
					<string>tightTrifoliateSnowflake</string>
					<string>heavyChevronSnowflake</string>
					<string>slightlySmilingFace</string>
					<string>s_e_h_r_g_u_t_exclam</string>
					<string>Y_e_a_h_exclam</string>
					<string>B_r_a_v_o_exclam_exclam_exclam</string>
					<string>whiteLeftBackhandIndex.VAR</string>
					<string>whiteRightBackhandIndex.VAR</string>
					<string>manicule_bold</string>
					<string>manicule_bold-right</string>
					<string>manicule_regular</string>
					<string>manicule_regular-right</string>
					<string>manicule_semibold</string>
					<string>manicule_semibold-right</string>
					<string>manicule_semilight</string>
					<string>manicule_semilight-right</string>
					<string>thumbsup_bold</string>
					<string>thumbsup_light</string>
					<string>thumbsup_regular</string>
					<string>thumbsup_semibold</string>
					<string>thumbsup_semilight</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>EditView Line Height</string>
				<key>value</key>
				<integer>3500</integer>
			</dict>
		</array>
		<key>com.schriftgestaltung.font.userData</key>
		<dict>
			<key>GSDimensionPlugin.Dimensions</key>
			<dict>
				<key>A4B42840-246E-4DEC-8701-5DFC3012DF06</key>
				<dict>
				</dict>
			</dict>
		</dict>
		<key>com.schriftgestaltung.fontMaster.customParameters</key>
		<array>
			<dict>
				<key>name</key>
				<string>Axis Location</string>
				<key>value</key>
				<array>
					<dict>
						<key>Axis</key>
						<string>Weight</string>
						<key>Location</key>
						<integer>700</integer>
					</dict>
					<dict>
						<key>Axis</key>
						<string>Ascender Height</string>
						<key>Location</key>
						<integer>1400</integer>
					</dict>
					<dict>
						<key>Axis</key>
						<string>Uppercase Height</string>
						<key>Location</key>
						<integer>1600</integer>
					</dict>
				</array>
			</dict>
		</array>
		<key>com.schriftgestaltung.fontMasterID</key>
		<string>m004</string>
		<key>com.schriftgestaltung.formatVersion</key>
		<integer>3</integer>
		<key>com.schriftgestaltung.glyphOrder</key>
		<array>
			<string>.notdef</string>
			<string>NULL</string>
			<string>CR</string>
			<string>space</string>
			<string>nbspace</string>
			<string>emspace</string>
			<string>enspace</string>
			<string>figurespace</string>
			<string>thinspace</string>
			<string>hairspace</string>
			<string>A</string>
			<string>B</string>
			<string>C</string>
			<string>D</string>
			<string>E</string>
			<string>F</string>
			<string>G</string>
			<string>H</string>
			<string>I</string>
			<string>J</string>
			<string>J.ss06</string>
			<string>K</string>
			<string>L</string>
			<string>M</string>
			<string>N</string>
			<string>O</string>
			<string>P</string>
			<string>Q</string>
			<string>R</string>
			<string>S</string>
			<string>T</string>
			<string>U</string>
			<string>U.ss05</string>
			<string>V</string>
			<string>W</string>
			<string>X</string>
			<string>Y</string>
			<string>Z</string>
			<string>Eth</string>
			<string>Thorn</string>
			<string>AE</string>
			<string>IJ</string>
			<string>OE</string>
			<string>Eng</string>
			<string>Schwa</string>
			<string>Germandbls</string>
			<string>germandbls.calt</string>
			<string>a</string>
			<string>a.ss04</string>
			<string>b</string>
			<string>c</string>
			<string>d</string>
			<string>e</string>
			<string>f</string>
			<string>f.ss01</string>
			<string>g</string>
			<string>h</string>
			<string>idotless</string>
			<string>i</string>
			<string>jdotless</string>
			<string>j</string>
			<string>k</string>
			<string>k.ss03</string>
			<string>l</string>
			<string>m</string>
			<string>n</string>
			<string>o</string>
			<string>p</string>
			<string>q</string>
			<string>q.ss02</string>
			<string>r</string>
			<string>s</string>
			<string>germandbls</string>
			<string>t</string>
			<string>u</string>
			<string>v</string>
			<string>w</string>
			<string>x</string>
			<string>y</string>
			<string>z</string>
			<string>eth</string>
			<string>thorn</string>
			<string>ae</string>
			<string>ij</string>
			<string>oe</string>
			<string>eng</string>
			<string>schwa</string>
			<string>zero</string>
			<string>one</string>
			<string>two</string>
			<string>three</string>
			<string>four</string>
			<string>five</string>
			<string>six</string>
			<string>seven</string>
			<string>seven.salt</string>
			<string>eight</string>
			<string>nine</string>
			<string>zero.osf</string>
			<string>one.osf</string>
			<string>two.osf</string>
			<string>three.osf</string>
			<string>four.osf</string>
			<string>five.osf</string>
			<string>six.osf</string>
			<string>seven.osf</string>
			<string>seven.osf.salt</string>
			<string>eight.osf</string>
			<string>nine.osf</string>
			<string>zero.tf</string>
			<string>one.tf</string>
			<string>two.tf</string>
			<string>three.tf</string>
			<string>four.tf</string>
			<string>five.tf</string>
			<string>six.tf</string>
			<string>seven.tf</string>
			<string>seven.tf.salt</string>
			<string>eight.tf</string>
			<string>nine.tf</string>
			<string>zero.tosf</string>
			<string>one.tosf</string>
			<string>two.tosf</string>
			<string>three.tosf</string>
			<string>four.tosf</string>
			<string>five.tosf</string>
			<string>six.tosf</string>
			<string>seven.tosf</string>
			<string>seven.tosf.salt</string>
			<string>eight.tosf</string>
			<string>nine.tosf</string>
			<string>Aacute</string>
			<string>Abreve</string>
			<string>Acaron</string>
			<string>Acircumflex</string>
			<string>Adieresis</string>
			<string>Agrave</string>
			<string>Amacron</string>
			<string>Aogonek</string>
			<string>Aring</string>
			<string>Atilde</string>
			<string>Cacute</string>
			<string>Ccaron</string>
			<string>Ccedilla</string>
			<string>Cdotaccent</string>
			<string>Dcaron</string>
			<string>Dcroat</string>
			<string>Eacute</string>
			<string>Ebreve</string>
			<string>Ecaron</string>
			<string>Ecircumflex</string>
			<string>Edieresis</string>
			<string>Edotaccent</string>
			<string>Egrave</string>
			<string>Emacron</string>
			<string>Eogonek</string>
			<string>Etilde</string>
			<string>Gbreve</string>
			<string>Gcaron</string>
			<string>Gcommaaccent</string>
			<string>Gdotaccent</string>
			<string>Hbar</string>
			<string>Iacute</string>
			<string>Icircumflex</string>
			<string>Idieresis</string>
			<string>Idotaccent</string>
			<string>Idotbelow</string>
			<string>Igrave</string>
			<string>Imacron</string>
			<string>Iogonek</string>
			<string>Itilde</string>
			<string>Jacute</string>
			<string>Jacute.ss06</string>
			<string>Kcommaaccent</string>
			<string>Lacute</string>
			<string>Lcaron</string>
			<string>Lcommaaccent</string>
			<string>Lslash</string>
			<string>Nacute</string>
			<string>Ncaron</string>
			<string>Ncommaaccent</string>
			<string>Ntilde</string>
			<string>Oacute</string>
			<string>Ocircumflex</string>
			<string>Odieresis</string>
			<string>Odotbelow</string>
			<string>Ograve</string>
			<string>Ohungarumlaut</string>
			<string>Omacron</string>
			<string>Oslash</string>
			<string>Otilde</string>
			<string>Racute</string>
			<string>Rcaron</string>
			<string>Rcommaaccent</string>
			<string>Sacute</string>
			<string>Scaron</string>
			<string>Scedilla</string>
			<string>Scommaaccent</string>
			<string>Tbar</string>
			<string>Tcaron</string>
			<string>Tcedilla</string>
			<string>Tcommaaccent</string>
			<string>Uacute</string>
			<string>Ubreve</string>
			<string>Ucircumflex</string>
			<string>Udieresis</string>
			<string>Udotbelow</string>
			<string>Ugrave</string>
			<string>Uhungarumlaut</string>
			<string>Umacron</string>
			<string>Uogonek</string>
			<string>Uring</string>
			<string>Utilde</string>
			<string>Uacute.ss05</string>
			<string>Ubreve.ss05</string>
			<string>Ucircumflex.ss05</string>
			<string>Udieresis.ss05</string>
			<string>Udotbelow.ss05</string>
			<string>Ugrave.ss05</string>
			<string>Uhungarumlaut.ss05</string>
			<string>Umacron.ss05</string>
			<string>Uogonek.ss05</string>
			<string>Uring.ss05</string>
			<string>Utilde.ss05</string>
			<string>Wacute</string>
			<string>Wcircumflex</string>
			<string>Wdieresis</string>
			<string>Wgrave</string>
			<string>Yacute</string>
			<string>Ycircumflex</string>
			<string>Ydieresis</string>
			<string>Ygrave</string>
			<string>Ymacron</string>
			<string>Ytilde</string>
			<string>Zacute</string>
			<string>Zcaron</string>
			<string>Zdotaccent</string>
			<string>aacute</string>
			<string>abreve</string>
			<string>acaron</string>
			<string>acircumflex</string>
			<string>adieresis</string>
			<string>agrave</string>
			<string>amacron</string>
			<string>aogonek</string>
			<string>aring</string>
			<string>atilde</string>
			<string>aacute.ss04</string>
			<string>acaron.ss04</string>
			<string>abreve.ss04</string>
			<string>acircumflex.ss04</string>
			<string>adieresis.ss04</string>
			<string>agrave.ss04</string>
			<string>amacron.ss04</string>
			<string>aogonek.ss04</string>
			<string>aring.ss04</string>
			<string>atilde.ss04</string>
			<string>cacute</string>
			<string>ccaron</string>
			<string>ccedilla</string>
			<string>cdotaccent</string>
			<string>dcaron</string>
			<string>dcroat</string>
			<string>eacute</string>
			<string>ebreve</string>
			<string>ecaron</string>
			<string>ecircumflex</string>
			<string>edieresis</string>
			<string>edotaccent</string>
			<string>egrave</string>
			<string>emacron</string>
			<string>eogonek</string>
			<string>etilde</string>
			<string>gbreve</string>
			<string>gcaron</string>
			<string>gcommaaccent</string>
			<string>gdotaccent</string>
			<string>hbar</string>
			<string>iacute</string>
			<string>icircumflex</string>
			<string>idieresis</string>
			<string>idotaccent</string>
			<string>idotbelow</string>
			<string>igrave</string>
			<string>imacron</string>
			<string>iogonek</string>
			<string>itilde</string>
			<string>jacute</string>
			<string>kcommaaccent</string>
			<string>kcommaaccent.ss03</string>
			<string>lacute</string>
			<string>lcaron</string>
			<string>lcommaaccent</string>
			<string>lslash</string>
			<string>nacute</string>
			<string>ncaron</string>
			<string>ncommaaccent</string>
			<string>ntilde</string>
			<string>oacute</string>
			<string>ocircumflex</string>
			<string>odieresis</string>
			<string>odotbelow</string>
			<string>ograve</string>
			<string>ohungarumlaut</string>
			<string>omacron</string>
			<string>oslash</string>
			<string>otilde</string>
			<string>racute</string>
			<string>rcaron</string>
			<string>rcommaaccent</string>
			<string>sacute</string>
			<string>scaron</string>
			<string>scedilla</string>
			<string>scommaaccent</string>
			<string>tbar</string>
			<string>tcaron</string>
			<string>tcedilla</string>
			<string>tcommaaccent</string>
			<string>uacute</string>
			<string>ubreve</string>
			<string>ucircumflex</string>
			<string>udieresis</string>
			<string>udotbelow</string>
			<string>ugrave</string>
			<string>uhungarumlaut</string>
			<string>umacron</string>
			<string>uogonek</string>
			<string>uring</string>
			<string>utilde</string>
			<string>wacute</string>
			<string>wcircumflex</string>
			<string>wdieresis</string>
			<string>wgrave</string>
			<string>yacute</string>
			<string>ycircumflex</string>
			<string>ydieresis</string>
			<string>ygrave</string>
			<string>ymacron</string>
			<string>ytilde</string>
			<string>zacute</string>
			<string>zcaron</string>
			<string>zdotaccent</string>
			<string>period</string>
			<string>comma</string>
			<string>colon</string>
			<string>semicolon</string>
			<string>ellipsis</string>
			<string>exclam</string>
			<string>question</string>
			<string>exclamdown</string>
			<string>questiondown</string>
			<string>bullet</string>
			<string>hyphen</string>
			<string>endash</string>
			<string>emdash</string>
			<string>hyphen.case</string>
			<string>hyphen.calt</string>
			<string>colon.case</string>
			<string>periodcentered.case</string>
			<string>periodcentered.loclCAT.case</string>
			<string>endash.case</string>
			<string>emdash.case</string>
			<string>parenleft</string>
			<string>parenright</string>
			<string>braceleft</string>
			<string>braceright</string>
			<string>bracketleft</string>
			<string>bracketright</string>
			<string>quotesinglbase</string>
			<string>quotedblbase</string>
			<string>quotedblleft</string>
			<string>quotedblright</string>
			<string>quoteleft</string>
			<string>quoteright</string>
			<string>guillemetleft</string>
			<string>guillemetright</string>
			<string>guilsinglleft</string>
			<string>guilsinglright</string>
			<string>asterisk</string>
			<string>periodcentered</string>
			<string>periodcentered.loclCAT</string>
			<string>copyright</string>
			<string>asuperior</string>
			<string>isuperior</string>
			<string>n.sups</string>
			<string>zerosuperior</string>
			<string>onesuperior</string>
			<string>twosuperior</string>
			<string>threesuperior</string>
			<string>foursuperior</string>
			<string>fivesuperior</string>
			<string>sixsuperior</string>
			<string>sevensuperior</string>
			<string>eightsuperior</string>
			<string>ninesuperior</string>
			<string>zero.numr</string>
			<string>one.numr</string>
			<string>two.numr</string>
			<string>three.numr</string>
			<string>four.numr</string>
			<string>five.numr</string>
			<string>six.numr</string>
			<string>seven.numr</string>
			<string>eight.numr</string>
			<string>nine.numr</string>
			<string>zero.dnom</string>
			<string>one.dnom</string>
			<string>two.dnom</string>
			<string>three.dnom</string>
			<string>four.dnom</string>
			<string>five.dnom</string>
			<string>six.dnom</string>
			<string>seven.dnom</string>
			<string>eight.dnom</string>
			<string>nine.dnom</string>
			<string>zero.sinf</string>
			<string>one.sinf</string>
			<string>two.sinf</string>
			<string>three.sinf</string>
			<string>four.sinf</string>
			<string>five.sinf</string>
			<string>six.sinf</string>
			<string>seven.sinf</string>
			<string>eight.sinf</string>
			<string>nine.sinf</string>
			<string>zeroinferior</string>
			<string>oneinferior</string>
			<string>twoinferior</string>
			<string>threeinferior</string>
			<string>fourinferior</string>
			<string>fiveinferior</string>
			<string>sixinferior</string>
			<string>seveninferior</string>
			<string>eightinferior</string>
			<string>nineinferior</string>
			<string>fraction</string>
			<string>onehalf</string>
			<string>onequarter</string>
			<string>twothirds</string>
			<string>threequarters</string>
			<string>oneeighth</string>
			<string>threeeighths</string>
			<string>fiveeighths</string>
			<string>seveneighths</string>
			<string>numbersign</string>
			<string>slash</string>
			<string>backslash</string>
			<string>underscore</string>
			<string>quotedbl</string>
			<string>quotesingle</string>
			<string>gClef-musical</string>
			<string>cent</string>
			<string>dollar</string>
			<string>euro</string>
			<string>sterling</string>
			<string>yen</string>
			<string>plus</string>
			<string>minus</string>
			<string>multiply</string>
			<string>dotmath</string>
			<string>divide</string>
			<string>equal</string>
			<string>notequal</string>
			<string>greater</string>
			<string>less</string>
			<string>greaterequal</string>
			<string>lessequal</string>
			<string>plusminus</string>
			<string>approxequal</string>
			<string>infinity</string>
			<string>percent</string>
			<string>perthousand</string>
			<string>at</string>
			<string>ampersand</string>
			<string>paragraph</string>
			<string>section</string>
			<string>ordfeminine</string>
			<string>ordmasculine</string>
			<string>trademark</string>
			<string>registered</string>
			<string>numero</string>
			<string>degree</string>
			<string>bar</string>
			<string>brokenbar</string>
			<string>dagger</string>
			<string>daggerdbl</string>
			<string>commaturnedabovecomb</string>
			<string>commaaccentcomb</string>
			<string>commaaccentcomb.case</string>
			<string>dieresiscomb</string>
			<string>dotaccentcomb</string>
			<string>gravecomb</string>
			<string>acutecomb</string>
			<string>hungarumlautcomb</string>
			<string>circumflexcomb</string>
			<string>caroncomb</string>
			<string>brevecomb</string>
			<string>ringcomb</string>
			<string>tildecomb</string>
			<string>macroncomb</string>
			<string>cedillacomb</string>
			<string>ogonekcomb</string>
			<string>barcomb</string>
			<string>dotbelowcomb</string>
			<string>dotbelowcomb.case</string>
			<string>dieresiscomb.case</string>
			<string>gravecomb.case</string>
			<string>acutecomb.case</string>
			<string>hungarumlautcomb.case</string>
			<string>circumflexcomb.case</string>
			<string>caroncomb.case</string>
			<string>brevecomb.case</string>
			<string>ringcomb.case</string>
			<string>tildecomb.case</string>
			<string>macroncomb.case</string>
			<string>cedillacomb.case</string>
			<string>slashcomb</string>
			<string>slashcomb.case</string>
			<string>slashlongcomb</string>
			<string>barcomb.case</string>
			<string>barlongcomb.case</string>
			<string>caroncomb.locl</string>
			<string>dieresis</string>
			<string>dotaccent</string>
			<string>grave</string>
			<string>acute</string>
			<string>hungarumlaut</string>
			<string>circumflex</string>
			<string>caron</string>
			<string>breve</string>
			<string>ring</string>
			<string>tilde</string>
			<string>macron</string>
			<string>cedilla</string>
			<string>ogonek</string>
			<string>arrowup</string>
			<string>arrowright</string>
			<string>arrowdown</string>
			<string>arrowleft</string>
			<string>whitecircle</string>
			<string>whitesquare</string>
			<string>ballotBox</string>
			<string>ballotBoxWithCheck</string>
			<string>checkmark</string>
			<string>whiteHeart</string>
			<string>heavyBlackHeart</string>
			<string>heartsuitwhite</string>
			<string>heartsuitblack</string>
			<string>pencil</string>
			<string>pencil.cv01</string>
			<string>lowerRightPencil</string>
			<string>upperRightPencil</string>
			<string>lowerLeftFountainPen</string>
			<string>fountainPen</string>
			<string>whiteUpBackhandIndex</string>
			<string>whiteUpBackhandIndex.cv01</string>
			<string>whiteUpBackhandIndex.cv02</string>
			<string>whiteUpBackhandIndex.cv03</string>
			<string>whiteDownBackhandIndex</string>
			<string>whiteDownBackhandIndex.cv01</string>
			<string>whiteDownBackhandIndex.cv02</string>
			<string>whiteDownBackhandIndex.cv03</string>
			<string>whiteLeftBackhandIndex</string>
			<string>whiteLeftBackhandIndex.cv01</string>
			<string>whiteLeftBackhandIndex.cv02</string>
			<string>whiteLeftBackhandIndex.cv03</string>
			<string>whiteRightBackhandIndex</string>
			<string>whiteRightBackhandIndex.cv01</string>
			<string>whiteRightBackhandIndex.cv02</string>
			<string>whiteRightBackhandIndex.cv03</string>
			<string>thumbsUpSign</string>
			<string>snowflake</string>
			<string>tightTrifoliateSnowflake</string>
			<string>heavyChevronSnowflake</string>
			<string>slightlySmilingFace</string>
			<string>s_e_h_r_g_u_t_exclam</string>
			<string>Y_e_a_h_exclam</string>
			<string>B_r_a_v_o_exclam_exclam_exclam</string>
		</array>
		<key>com.schriftgestaltung.iconName</key>
		<string>Bold</string>
		<key>com.schriftgestaltung.master.name</key>
		<string>Asc Bold</string>
		<key>com.schriftgestaltung.useNiceNames</key>
		<true/>
		<key>org.unifiedfontobject.normalizer.modTimes</key>
		<string>version: 0.6.3
1760778531.3 fontinfo.plist
1760778531.3 groups.plist
1760778531.3 kerning.plist
1760779355.6 layercontents.plist
1760778531.3 metainfo.plist</string>
		<key>public.glyphOrder</key>
		<array>
			<string>.notdef</string>
			<string>NULL</string>
			<string>CR</string>
			<string>space</string>
			<string>nbspace</string>
			<string>emspace</string>
			<string>enspace</string>
			<string>figurespace</string>
			<string>thinspace</string>
			<string>hairspace</string>
			<string>A</string>
			<string>B</string>
			<string>C</string>
			<string>D</string>
			<string>E</string>
			<string>F</string>
			<string>G</string>
			<string>H</string>
			<string>I</string>
			<string>J</string>
			<string>J.ss06</string>
			<string>K</string>
			<string>L</string>
			<string>M</string>
			<string>N</string>
			<string>O</string>
			<string>P</string>
			<string>Q</string>
			<string>R</string>
			<string>S</string>
			<string>T</string>
			<string>U</string>
			<string>U.ss05</string>
			<string>V</string>
			<string>W</string>
			<string>X</string>
			<string>Y</string>
			<string>Z</string>
			<string>Eth</string>
			<string>Thorn</string>
			<string>AE</string>
			<string>IJ</string>
			<string>OE</string>
			<string>Eng</string>
			<string>Schwa</string>
			<string>Germandbls</string>
			<string>germandbls.calt</string>
			<string>a</string>
			<string>a.ss04</string>
			<string>b</string>
			<string>c</string>
			<string>d</string>
			<string>e</string>
			<string>f</string>
			<string>f.ss01</string>
			<string>g</string>
			<string>h</string>
			<string>idotless</string>
			<string>i</string>
			<string>jdotless</string>
			<string>j</string>
			<string>k</string>
			<string>k.ss03</string>
			<string>l</string>
			<string>m</string>
			<string>n</string>
			<string>o</string>
			<string>p</string>
			<string>q</string>
			<string>q.ss02</string>
			<string>r</string>
			<string>s</string>
			<string>germandbls</string>
			<string>t</string>
			<string>u</string>
			<string>v</string>
			<string>w</string>
			<string>x</string>
			<string>y</string>
			<string>z</string>
			<string>eth</string>
			<string>thorn</string>
			<string>ae</string>
			<string>ij</string>
			<string>oe</string>
			<string>eng</string>
			<string>schwa</string>
			<string>zero</string>
			<string>one</string>
			<string>two</string>
			<string>three</string>
			<string>four</string>
			<string>five</string>
			<string>six</string>
			<string>seven</string>
			<string>seven.salt</string>
			<string>eight</string>
			<string>nine</string>
			<string>zero.osf</string>
			<string>one.osf</string>
			<string>two.osf</string>
			<string>three.osf</string>
			<string>four.osf</string>
			<string>five.osf</string>
			<string>six.osf</string>
			<string>seven.osf</string>
			<string>seven.osf.salt</string>
			<string>eight.osf</string>
			<string>nine.osf</string>
			<string>zero.tf</string>
			<string>one.tf</string>
			<string>two.tf</string>
			<string>three.tf</string>
			<string>four.tf</string>
			<string>five.tf</string>
			<string>six.tf</string>
			<string>seven.tf</string>
			<string>seven.tf.salt</string>
			<string>eight.tf</string>
			<string>nine.tf</string>
			<string>zero.tosf</string>
			<string>one.tosf</string>
			<string>two.tosf</string>
			<string>three.tosf</string>
			<string>four.tosf</string>
			<string>five.tosf</string>
			<string>six.tosf</string>
			<string>seven.tosf</string>
			<string>seven.tosf.salt</string>
			<string>eight.tosf</string>
			<string>nine.tosf</string>
			<string>Aacute</string>
			<string>Abreve</string>
			<string>Acaron</string>
			<string>Acircumflex</string>
			<string>Adieresis</string>
			<string>Agrave</string>
			<string>Amacron</string>
			<string>Aogonek</string>
			<string>Aring</string>
			<string>Atilde</string>
			<string>Cacute</string>
			<string>Ccaron</string>
			<string>Ccedilla</string>
			<string>Cdotaccent</string>
			<string>Dcaron</string>
			<string>Dcroat</string>
			<string>Eacute</string>
			<string>Ebreve</string>
			<string>Ecaron</string>
			<string>Ecircumflex</string>
			<string>Edieresis</string>
			<string>Edotaccent</string>
			<string>Egrave</string>
			<string>Emacron</string>
			<string>Eogonek</string>
			<string>Etilde</string>
			<string>Gbreve</string>
			<string>Gcaron</string>
			<string>Gcommaaccent</string>
			<string>Gdotaccent</string>
			<string>Hbar</string>
			<string>Iacute</string>
			<string>Icircumflex</string>
			<string>Idieresis</string>
			<string>Idotaccent</string>
			<string>Idotbelow</string>
			<string>Igrave</string>
			<string>Imacron</string>
			<string>Iogonek</string>
			<string>Itilde</string>
			<string>Jacute</string>
			<string>Jacute.ss06</string>
			<string>Kcommaaccent</string>
			<string>Lacute</string>
			<string>Lcaron</string>
			<string>Lcommaaccent</string>
			<string>Lslash</string>
			<string>Nacute</string>
			<string>Ncaron</string>
			<string>Ncommaaccent</string>
			<string>Ntilde</string>
			<string>Oacute</string>
			<string>Ocircumflex</string>
			<string>Odieresis</string>
			<string>Odotbelow</string>
			<string>Ograve</string>
			<string>Ohungarumlaut</string>
			<string>Omacron</string>
			<string>Oslash</string>
			<string>Otilde</string>
			<string>Racute</string>
			<string>Rcaron</string>
			<string>Rcommaaccent</string>
			<string>Sacute</string>
			<string>Scaron</string>
			<string>Scedilla</string>
			<string>Scommaaccent</string>
			<string>Tbar</string>
			<string>Tcaron</string>
			<string>Tcedilla</string>
			<string>Tcommaaccent</string>
			<string>Uacute</string>
			<string>Ubreve</string>
			<string>Ucircumflex</string>
			<string>Udieresis</string>
			<string>Udotbelow</string>
			<string>Ugrave</string>
			<string>Uhungarumlaut</string>
			<string>Umacron</string>
			<string>Uogonek</string>
			<string>Uring</string>
			<string>Utilde</string>
			<string>Uacute.ss05</string>
			<string>Ubreve.ss05</string>
			<string>Ucircumflex.ss05</string>
			<string>Udieresis.ss05</string>
			<string>Udotbelow.ss05</string>
			<string>Ugrave.ss05</string>
			<string>Uhungarumlaut.ss05</string>
			<string>Umacron.ss05</string>
			<string>Uogonek.ss05</string>
			<string>Uring.ss05</string>
			<string>Utilde.ss05</string>
			<string>Wacute</string>
			<string>Wcircumflex</string>
			<string>Wdieresis</string>
			<string>Wgrave</string>
			<string>Yacute</string>
			<string>Ycircumflex</string>
			<string>Ydieresis</string>
			<string>Ygrave</string>
			<string>Ymacron</string>
			<string>Ytilde</string>
			<string>Zacute</string>
			<string>Zcaron</string>
			<string>Zdotaccent</string>
			<string>aacute</string>
			<string>abreve</string>
			<string>acaron</string>
			<string>acircumflex</string>
			<string>adieresis</string>
			<string>agrave</string>
			<string>amacron</string>
			<string>aogonek</string>
			<string>aring</string>
			<string>atilde</string>
			<string>aacute.ss04</string>
			<string>acaron.ss04</string>
			<string>abreve.ss04</string>
			<string>acircumflex.ss04</string>
			<string>adieresis.ss04</string>
			<string>agrave.ss04</string>
			<string>amacron.ss04</string>
			<string>aogonek.ss04</string>
			<string>aring.ss04</string>
			<string>atilde.ss04</string>
			<string>cacute</string>
			<string>ccaron</string>
			<string>ccedilla</string>
			<string>cdotaccent</string>
			<string>dcaron</string>
			<string>dcroat</string>
			<string>eacute</string>
			<string>ebreve</string>
			<string>ecaron</string>
			<string>ecircumflex</string>
			<string>edieresis</string>
			<string>edotaccent</string>
			<string>egrave</string>
			<string>emacron</string>
			<string>eogonek</string>
			<string>etilde</string>
			<string>gbreve</string>
			<string>gcaron</string>
			<string>gcommaaccent</string>
			<string>gdotaccent</string>
			<string>hbar</string>
			<string>iacute</string>
			<string>icircumflex</string>
			<string>idieresis</string>
			<string>idotaccent</string>
			<string>idotbelow</string>
			<string>igrave</string>
			<string>imacron</string>
			<string>iogonek</string>
			<string>itilde</string>
			<string>jacute</string>
			<string>kcommaaccent</string>
			<string>kcommaaccent.ss03</string>
			<string>lacute</string>
			<string>lcaron</string>
			<string>lcommaaccent</string>
			<string>lslash</string>
			<string>nacute</string>
			<string>ncaron</string>
			<string>ncommaaccent</string>
			<string>ntilde</string>
			<string>oacute</string>
			<string>ocircumflex</string>
			<string>odieresis</string>
			<string>odotbelow</string>
			<string>ograve</string>
			<string>ohungarumlaut</string>
			<string>omacron</string>
			<string>oslash</string>
			<string>otilde</string>
			<string>racute</string>
			<string>rcaron</string>
			<string>rcommaaccent</string>
			<string>sacute</string>
			<string>scaron</string>
			<string>scedilla</string>
			<string>scommaaccent</string>
			<string>tbar</string>
			<string>tcaron</string>
			<string>tcedilla</string>
			<string>tcommaaccent</string>
			<string>uacute</string>
			<string>ubreve</string>
			<string>ucircumflex</string>
			<string>udieresis</string>
			<string>udotbelow</string>
			<string>ugrave</string>
			<string>uhungarumlaut</string>
			<string>umacron</string>
			<string>uogonek</string>
			<string>uring</string>
			<string>utilde</string>
			<string>wacute</string>
			<string>wcircumflex</string>
			<string>wdieresis</string>
			<string>wgrave</string>
			<string>yacute</string>
			<string>ycircumflex</string>
			<string>ydieresis</string>
			<string>ygrave</string>
			<string>ymacron</string>
			<string>ytilde</string>
			<string>zacute</string>
			<string>zcaron</string>
			<string>zdotaccent</string>
			<string>period</string>
			<string>comma</string>
			<string>colon</string>
			<string>semicolon</string>
			<string>ellipsis</string>
			<string>exclam</string>
			<string>question</string>
			<string>exclamdown</string>
			<string>questiondown</string>
			<string>bullet</string>
			<string>hyphen</string>
			<string>endash</string>
			<string>emdash</string>
			<string>hyphen.case</string>
			<string>hyphen.calt</string>
			<string>colon.case</string>
			<string>periodcentered.case</string>
			<string>periodcentered.loclCAT.case</string>
			<string>endash.case</string>
			<string>emdash.case</string>
			<string>parenleft</string>
			<string>parenright</string>
			<string>braceleft</string>
			<string>braceright</string>
			<string>bracketleft</string>
			<string>bracketright</string>
			<string>quotesinglbase</string>
			<string>quotedblbase</string>
			<string>quotedblleft</string>
			<string>quotedblright</string>
			<string>quoteleft</string>
			<string>quoteright</string>
			<string>guillemetleft</string>
			<string>guillemetright</string>
			<string>guilsinglleft</string>
			<string>guilsinglright</string>
			<string>asterisk</string>
			<string>periodcentered</string>
			<string>periodcentered.loclCAT</string>
			<string>copyright</string>
			<string>asuperior</string>
			<string>isuperior</string>
			<string>n.sups</string>
			<string>zerosuperior</string>
			<string>onesuperior</string>
			<string>twosuperior</string>
			<string>threesuperior</string>
			<string>foursuperior</string>
			<string>fivesuperior</string>
			<string>sixsuperior</string>
			<string>sevensuperior</string>
			<string>eightsuperior</string>
			<string>ninesuperior</string>
			<string>zero.numr</string>
			<string>one.numr</string>
			<string>two.numr</string>
			<string>three.numr</string>
			<string>four.numr</string>
			<string>five.numr</string>
			<string>six.numr</string>
			<string>seven.numr</string>
			<string>eight.numr</string>
			<string>nine.numr</string>
			<string>zero.dnom</string>
			<string>one.dnom</string>
			<string>two.dnom</string>
			<string>three.dnom</string>
			<string>four.dnom</string>
			<string>five.dnom</string>
			<string>six.dnom</string>
			<string>seven.dnom</string>
			<string>eight.dnom</string>
			<string>nine.dnom</string>
			<string>zero.sinf</string>
			<string>one.sinf</string>
			<string>two.sinf</string>
			<string>three.sinf</string>
			<string>four.sinf</string>
			<string>five.sinf</string>
			<string>six.sinf</string>
			<string>seven.sinf</string>
			<string>eight.sinf</string>
			<string>nine.sinf</string>
			<string>zeroinferior</string>
			<string>oneinferior</string>
			<string>twoinferior</string>
			<string>threeinferior</string>
			<string>fourinferior</string>
			<string>fiveinferior</string>
			<string>sixinferior</string>
			<string>seveninferior</string>
			<string>eightinferior</string>
			<string>nineinferior</string>
			<string>fraction</string>
			<string>onehalf</string>
			<string>onequarter</string>
			<string>twothirds</string>
			<string>threequarters</string>
			<string>oneeighth</string>
			<string>threeeighths</string>
			<string>fiveeighths</string>
			<string>seveneighths</string>
			<string>numbersign</string>
			<string>slash</string>
			<string>backslash</string>
			<string>underscore</string>
			<string>quotedbl</string>
			<string>quotesingle</string>
			<string>gClef-musical</string>
			<string>cent</string>
			<string>dollar</string>
			<string>euro</string>
			<string>sterling</string>
			<string>yen</string>
			<string>plus</string>
			<string>minus</string>
			<string>multiply</string>
			<string>dotmath</string>
			<string>divide</string>
			<string>equal</string>
			<string>notequal</string>
			<string>greater</string>
			<string>less</string>
			<string>greaterequal</string>
			<string>lessequal</string>
			<string>plusminus</string>
			<string>approxequal</string>
			<string>infinity</string>
			<string>percent</string>
			<string>perthousand</string>
			<string>at</string>
			<string>ampersand</string>
			<string>paragraph</string>
			<string>section</string>
			<string>ordfeminine</string>
			<string>ordmasculine</string>
			<string>trademark</string>
			<string>registered</string>
			<string>numero</string>
			<string>degree</string>
			<string>bar</string>
			<string>brokenbar</string>
			<string>dagger</string>
			<string>daggerdbl</string>
			<string>commaturnedabovecomb</string>
			<string>commaaccentcomb</string>
			<string>commaaccentcomb.case</string>
			<string>dieresiscomb</string>
			<string>dotaccentcomb</string>
			<string>gravecomb</string>
			<string>acutecomb</string>
			<string>hungarumlautcomb</string>
			<string>circumflexcomb</string>
			<string>caroncomb</string>
			<string>brevecomb</string>
			<string>ringcomb</string>
			<string>tildecomb</string>
			<string>macroncomb</string>
			<string>cedillacomb</string>
			<string>ogonekcomb</string>
			<string>barcomb</string>
			<string>dotbelowcomb</string>
			<string>dotbelowcomb.case</string>
			<string>dieresiscomb.case</string>
			<string>gravecomb.case</string>
			<string>acutecomb.case</string>
			<string>hungarumlautcomb.case</string>
			<string>circumflexcomb.case</string>
			<string>caroncomb.case</string>
			<string>brevecomb.case</string>
			<string>ringcomb.case</string>
			<string>tildecomb.case</string>
			<string>macroncomb.case</string>
			<string>cedillacomb.case</string>
			<string>slashcomb</string>
			<string>slashcomb.case</string>
			<string>slashlongcomb</string>
			<string>barcomb.case</string>
			<string>barlongcomb.case</string>
			<string>caroncomb.locl</string>
			<string>dieresis</string>
			<string>dotaccent</string>
			<string>grave</string>
			<string>acute</string>
			<string>hungarumlaut</string>
			<string>circumflex</string>
			<string>caron</string>
			<string>breve</string>
			<string>ring</string>
			<string>tilde</string>
			<string>macron</string>
			<string>cedilla</string>
			<string>ogonek</string>
			<string>arrowup</string>
			<string>arrowright</string>
			<string>arrowdown</string>
			<string>arrowleft</string>
			<string>whitecircle</string>
			<string>whitesquare</string>
			<string>ballotBox</string>
			<string>ballotBoxWithCheck</string>
			<string>checkmark</string>
			<string>whiteHeart</string>
			<string>heavyBlackHeart</string>
			<string>heartsuitwhite</string>
			<string>heartsuitblack</string>
			<string>pencil</string>
			<string>pencil.cv01</string>
			<string>lowerRightPencil</string>
			<string>upperRightPencil</string>
			<string>lowerLeftFountainPen</string>
			<string>fountainPen</string>
			<string>whiteUpBackhandIndex</string>
			<string>whiteUpBackhandIndex.cv01</string>
			<string>whiteUpBackhandIndex.cv02</string>
			<string>whiteUpBackhandIndex.cv03</string>
			<string>whiteDownBackhandIndex</string>
			<string>whiteDownBackhandIndex.cv01</string>
			<string>whiteDownBackhandIndex.cv02</string>
			<string>whiteDownBackhandIndex.cv03</string>
			<string>whiteLeftBackhandIndex</string>
			<string>whiteLeftBackhandIndex.cv01</string>
			<string>whiteLeftBackhandIndex.cv02</string>
			<string>whiteLeftBackhandIndex.cv03</string>
			<string>whiteRightBackhandIndex</string>
			<string>whiteRightBackhandIndex.cv01</string>
			<string>whiteRightBackhandIndex.cv02</string>
			<string>whiteRightBackhandIndex.cv03</string>
			<string>thumbsUpSign</string>
			<string>snowflake</string>
			<string>tightTrifoliateSnowflake</string>
			<string>heavyChevronSnowflake</string>
			<string>slightlySmilingFace</string>
			<string>s_e_h_r_g_u_t_exclam</string>
			<string>Y_e_a_h_exclam</string>
			<string>B_r_a_v_o_exclam_exclam_exclam</string>
			<string>nine.old</string>
			<string>whiteLeftBackhandIndex.VAR</string>
			<string>whiteRightBackhandIndex.VAR</string>
			<string>_part-o-slash</string>
			<string>_part_Q-tail</string>
			<string>_part.equal</string>
			<string>manicule_bold</string>
			<string>manicule_bold-right</string>
			<string>manicule_regular</string>
			<string>manicule_regular-right</string>
			<string>manicule_semibold</string>
			<string>manicule_semibold-right</string>
			<string>manicule_semilight</string>
			<string>manicule_semilight-right</string>
			<string>thumbsup_bold</string>
			<string>thumbsup_light</string>
			<string>thumbsup_regular</string>
			<string>thumbsup_semibold</string>
			<string>thumbsup_semilight</string>
		</array>
		<key>public.postscriptNames</key>
		<dict>
			<key>Acaron</key>
			<string>uni01CD</string>
			<key>Etilde</key>
			<string>uni1EBC</string>
			<key>Gcommaaccent</key>
			<string>uni0122</string>
			<key>Germandbls</key>
			<string>uni1E9E</string>
			<key>Idotbelow</key>
			<string>uni1ECA</string>
			<key>Jacute</key>
			<string>uFC001</string>
			<key>Jacute.ss06</key>
			<string>uni004A0301.ss06</string>
			<key>Kcommaaccent</key>
			<string>uni0136</string>
			<key>Lcommaaccent</key>
			<string>uni013B</string>
			<key>Ncommaaccent</key>
			<string>uni0145</string>
			<key>Odotbelow</key>
			<string>uni1ECC</string>
			<key>Rcommaaccent</key>
			<string>uni0156</string>
			<key>Schwa</key>
			<string>uni018F</string>
			<key>Scommaaccent</key>
			<string>uni0218</string>
			<key>Tcedilla</key>
			<string>uni0162</string>
			<key>Tcommaaccent</key>
			<string>uni021A</string>
			<key>Udotbelow</key>
			<string>uni1EE4</string>
			<key>Udotbelow.ss05</key>
			<string>uni1EE4.ss05</string>
			<key>Ymacron</key>
			<string>uni0232</string>
			<key>Ytilde</key>
			<string>uni1EF8</string>
			<key>_part-o-slash</key>
			<string>_partoslash</string>
			<key>_part_Q-tail</key>
			<string>_part_Qtail</string>
			<key>acaron</key>
			<string>uni01CE</string>
			<key>acaron.ss04</key>
			<string>uni01CE.ss04</string>
			<key>ballotBox</key>
			<string>uni2610</string>
			<key>ballotBoxWithCheck</key>
			<string>uni2611</string>
			<key>barcomb</key>
			<string>uni0335</string>
			<key>brevecomb</key>
			<string>uni0306</string>
			<key>brevecomb.case</key>
			<string>uni0306.case</string>
			<key>caroncomb</key>
			<string>uni030C</string>
			<key>caroncomb.case</key>
			<string>uni030C.case</string>
			<key>caroncomb.locl</key>
			<string>uni030C.locl</string>
			<key>cedillacomb</key>
			<string>uni0327</string>
			<key>cedillacomb.case</key>
			<string>uni0327.case</string>
			<key>checkmark</key>
			<string>uni2713</string>
			<key>circumflexcomb</key>
			<string>uni0302</string>
			<key>circumflexcomb.case</key>
			<string>uni0302.case</string>
			<key>commaaccentcomb</key>
			<string>uni0326</string>
			<key>commaaccentcomb.case</key>
			<string>uni0326.case</string>
			<key>commaturnedabovecomb</key>
			<string>uni0312</string>
			<key>dieresiscomb</key>
			<string>uni0308</string>
			<key>dieresiscomb.case</key>
			<string>uni0308.case</string>
			<key>dotaccentcomb</key>
			<string>uni0307</string>
			<key>eightinferior</key>
			<string>uni2088</string>
			<key>eightsuperior</key>
			<string>uni2078</string>
			<key>emspace</key>
			<string>uni2003</string>
			<key>enspace</key>
			<string>uni2002</string>
			<key>etilde</key>
			<string>uni1EBD</string>
			<key>euro</key>
			<string>Euro</string>
			<key>figurespace</key>
			<string>uni2007</string>
			<key>fiveinferior</key>
			<string>uni2085</string>
			<key>fivesuperior</key>
			<string>uni2075</string>
			<key>fountainPen</key>
			<string>uni2712</string>
			<key>fourinferior</key>
			<string>uni2084</string>
			<key>foursuperior</key>
			<string>uni2074</string>
			<key>gClef-musical</key>
			<string>u1D11E</string>
			<key>gcommaaccent</key>
			<string>uni0123</string>
			<key>guillemetleft</key>
			<string>guillemotleft</string>
			<key>guillemetright</key>
			<string>guillemotright</string>
			<key>hairspace</key>
			<string>uni200A</string>
			<key>heartsuitblack</key>
			<string>heart</string>
			<key>heartsuitwhite</key>
			<string>uni2661</string>
			<key>heavyBlackHeart</key>
			<string>uni2764</string>
			<key>heavyChevronSnowflake</key>
			<string>uni2746</string>
			<key>hungarumlautcomb</key>
			<string>uni030B</string>
			<key>hungarumlautcomb.case</key>
			<string>uni030B.case</string>
			<key>idotaccent</key>
			<string>i.loclTRK</string>
			<key>idotbelow</key>
			<string>uni1ECB</string>
			<key>idotless</key>
			<string>dotlessi</string>
			<key>jacute</key>
			<string>uFC000</string>
			<key>jdotless</key>
			<string>uni0237</string>
			<key>kcommaaccent</key>
			<string>uni0137</string>
			<key>kcommaaccent.ss03</key>
			<string>uni0137.ss03</string>
			<key>lcommaaccent</key>
			<string>uni013C</string>
			<key>lowerLeftFountainPen</key>
			<string>u1F58B</string>
			<key>lowerRightPencil</key>
			<string>uni270E</string>
			<key>macroncomb</key>
			<string>uni0304</string>
			<key>macroncomb.case</key>
			<string>uni0304.case</string>
			<key>manicule_bold-right</key>
			<string>manicule_boldright</string>
			<key>manicule_regular-right</key>
			<string>manicule_regularright</string>
			<key>manicule_semibold-right</key>
			<string>manicule_semiboldright</string>
			<key>manicule_semilight-right</key>
			<string>manicule_semilightright</string>
			<key>n.sups</key>
			<string>uni207F</string>
			<key>nbspace</key>
			<string>uni00A0</string>
			<key>ncommaaccent</key>
			<string>uni0146</string>
			<key>nineinferior</key>
			<string>uni2089</string>
			<key>ninesuperior</key>
			<string>uni2079</string>
			<key>numero</key>
			<string>uni2116</string>
			<key>odotbelow</key>
			<string>uni1ECD</string>
			<key>ogonekcomb</key>
			<string>uni0328</string>
			<key>oneinferior</key>
			<string>uni2081</string>
			<key>onesuperior</key>
			<string>uni00B9</string>
			<key>pencil</key>
			<string>uni270F</string>
			<key>pencil.cv01</key>
			<string>uni270F.cv01</string>
			<key>rcommaaccent</key>
			<string>uni0157</string>
			<key>ringcomb</key>
			<string>uni030A</string>
			<key>ringcomb.case</key>
			<string>uni030A.case</string>
			<key>schwa</key>
			<string>uni0259</string>
			<key>scommaaccent</key>
			<string>uni0219</string>
			<key>seveninferior</key>
			<string>uni2087</string>
			<key>sevensuperior</key>
			<string>uni2077</string>
			<key>sixinferior</key>
			<string>uni2086</string>
			<key>sixsuperior</key>
			<string>uni2076</string>
			<key>slashcomb</key>
			<string>uni0337</string>
			<key>slashlongcomb</key>
			<string>uni0338</string>
			<key>slightlySmilingFace</key>
			<string>u1F642</string>
			<key>snowflake</key>
			<string>uni2744</string>
			<key>tcedilla</key>
			<string>uni0163</string>
			<key>tcommaaccent</key>
			<string>uni021B</string>
			<key>thinspace</key>
			<string>uni2009</string>
			<key>threeinferior</key>
			<string>uni2083</string>
			<key>threesuperior</key>
			<string>uni00B3</string>
			<key>thumbsUpSign</key>
			<string>u1F44D</string>
			<key>tightTrifoliateSnowflake</key>
			<string>uni2745</string>
			<key>twoinferior</key>
			<string>uni2082</string>
			<key>twosuperior</key>
			<string>uni00B2</string>
			<key>twothirds</key>
			<string>uni2154</string>
			<key>udotbelow</key>
			<string>uni1EE5</string>
			<key>upperRightPencil</key>
			<string>uni2710</string>
			<key>whiteHeart</key>
			<string>u1F90D</string>
			<key>whiteLeftBackhandIndex</key>
			<string>u1F448</string>
			<key>whiteLeftBackhandIndex.VAR</key>
			<string>u1F448.VAR</string>
			<key>whiteRightBackhandIndex</key>
			<string>u1F449</string>
			<key>whiteRightBackhandIndex.VAR</key>
			<string>u1F449.VAR</string>
			<key>whitecircle</key>
			<string>circle</string>
			<key>whitesquare</key>
			<string>uni25A1</string>
			<key>ymacron</key>
			<string>uni0233</string>
			<key>ytilde</key>
			<string>uni1EF9</string>
			<key>zeroinferior</key>
			<string>uni2080</string>
			<key>zerosuperior</key>
			<string>uni2070</string>
		</dict>
		<key>public.skipExportGlyphs</key>
		<array>
			<string>_part-o-slash</string>
			<string>_part.equal</string>
			<string>_part_Q-tail</string>
			<string>manicule_bold</string>
			<string>manicule_bold-right</string>
			<string>manicule_regular</string>
			<string>manicule_regular-right</string>
			<string>manicule_semibold</string>
			<string>manicule_semibold-right</string>
			<string>manicule_semilight</string>
			<string>manicule_semilight-right</string>
			<string>nine.old</string>
			<string>thumbsup_bold</string>
			<string>thumbsup_light</string>
			<string>thumbsup_regular</string>
			<string>thumbsup_semibold</string>
			<string>thumbsup_semilight</string>
			<string>whiteLeftBackhandIndex.VAR</string>
			<string>whiteRightBackhandIndex.VAR</string>
		</array>
	</dict>
</plist>
