<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>B</key>
		<string>B_.glif</string>
		<key>B_r_a_v_o_exclam_exclam_exclam</key>
		<string>B__r_a_v_o_exclam_exclam_exclam.glif</string>
		<key>C</key>
		<string>C_.glif</string>
		<key>Eng</key>
		<string>E_ng.glif</string>
		<key>F</key>
		<string>F_.glif</string>
		<key>Germandbls</key>
		<string>G_ermandbls.glif</string>
		<key>J</key>
		<string>J_.glif</string>
		<key>J.ss06</key>
		<string>J_.ss06.glif</string>
		<key>L</key>
		<string>L_.glif</string>
		<key>M</key>
		<string>M_.glif</string>
		<key>N</key>
		<string>N_.glif</string>
		<key>OE</key>
		<string>O_E_.glif</string>
		<key>Oslash</key>
		<string>O_slash.glif</string>
		<key>P</key>
		<string>P_.glif</string>
		<key>S</key>
		<string>S_.glif</string>
		<key>Schwa</key>
		<string>S_chwa.glif</string>
		<key>T</key>
		<string>T_.glif</string>
		<key>Thorn</key>
		<string>T_horn.glif</string>
		<key>Uogonek.ss05</key>
		<string>U_ogonek.ss05.glif</string>
		<key>acutecomb</key>
		<string>acutecomb.glif</string>
		<key>ae</key>
		<string>ae.glif</string>
		<key>arrowdown</key>
		<string>arrowdown.glif</string>
		<key>arrowup</key>
		<string>arrowup.glif</string>
		<key>backslash</key>
		<string>backslash.glif</string>
		<key>barcomb</key>
		<string>barcomb.glif</string>
		<key>bracketright</key>
		<string>bracketright.glif</string>
		<key>brokenbar</key>
		<string>brokenbar.glif</string>
		<key>c</key>
		<string>c.glif</string>
		<key>cedillacomb.case</key>
		<string>cedillacomb.case.glif</string>
		<key>commaaccentcomb.case</key>
		<string>commaaccentcomb.case.glif</string>
		<key>d</key>
		<string>d.glif</string>
		<key>daggerdbl</key>
		<string>daggerdbl.glif</string>
		<key>divide</key>
		<string>divide.glif</string>
		<key>emdash</key>
		<string>emdash.glif</string>
		<key>equal</key>
		<string>equal.glif</string>
		<key>eth</key>
		<string>eth.glif</string>
		<key>exclam</key>
		<string>exclam.glif</string>
		<key>exclamdown</key>
		<string>exclamdown.glif</string>
		<key>f.ss01</key>
		<string>f.ss01.glif</string>
		<key>g</key>
		<string>g.glif</string>
		<key>gravecomb.case</key>
		<string>gravecomb.case.glif</string>
		<key>guilsinglleft</key>
		<string>guilsinglleft.glif</string>
		<key>guilsinglright</key>
		<string>guilsinglright.glif</string>
		<key>h</key>
		<string>h.glif</string>
		<key>hungarumlautcomb</key>
		<string>hungarumlautcomb.glif</string>
		<key>hyphen.calt</key>
		<string>hyphen.calt.glif</string>
		<key>k</key>
		<string>k.glif</string>
		<key>k.ss03</key>
		<string>k.ss03.glif</string>
		<key>l</key>
		<string>l.glif</string>
		<key>less</key>
		<string>less.glif</string>
		<key>manicule_semibold</key>
		<string>manicule_semibold.glif</string>
		<key>minus</key>
		<string>minus.glif</string>
		<key>n</key>
		<string>n.glif</string>
		<key>oe</key>
		<string>oe.glif</string>
		<key>one</key>
		<string>one.glif</string>
		<key>one.osf</key>
		<string>one.osf.glif</string>
		<key>p</key>
		<string>p.glif</string>
		<key>paragraph</key>
		<string>paragraph.glif</string>
		<key>parenright</key>
		<string>parenright.glif</string>
		<key>percent</key>
		<string>percent.glif</string>
		<key>q.ss02</key>
		<string>q.ss02.glif</string>
		<key>questiondown</key>
		<string>questiondown.glif</string>
		<key>quoteright</key>
		<string>quoteright.glif</string>
		<key>s_e_h_r_g_u_t_exclam</key>
		<string>s_e_h_r_g_u_t_exclam.glif</string>
		<key>slashcomb.case</key>
		<string>slashcomb.case.glif</string>
		<key>sterling</key>
		<string>sterling.glif</string>
		<key>thumbsup_bold</key>
		<string>thumbsup_bold.glif</string>
		<key>tildecomb.case</key>
		<string>tildecomb.case.glif</string>
		<key>w</key>
		<string>w.glif</string>
		<key>whiteLeftBackhandIndex</key>
		<string>whiteL_eftB_ackhandI_ndex.glif</string>
		<key>whiteLeftBackhandIndex.VAR</key>
		<string>whiteL_eftB_ackhandI_ndex.V_A_R_.glif</string>
		<key>whiteRightBackhandIndex</key>
		<string>whiteR_ightB_ackhandI_ndex.glif</string>
		<key>whiteRightBackhandIndex.VAR</key>
		<string>whiteR_ightB_ackhandI_ndex.V_A_R_.glif</string>
	</dict>
</plist>
