<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>B_r_a_v_o_exclam_exclam_exclam</key>
		<string>B__r_a_v_o_exclam_exclam_exclam.glif</string>
		<key>E</key>
		<string>E_.glif</string>
		<key>E.isol</key>
		<string>E_.isol.glif</string>
		<key>Eogonek</key>
		<string>E_ogonek.glif</string>
		<key>Eth</key>
		<string>E_th.glif</string>
		<key>Germandbls</key>
		<string>G_ermandbls.glif</string>
		<key>IJ.e</key>
		<string>I_J_.e.glif</string>
		<key>J.e</key>
		<string>J_.e.glif</string>
		<key>K.isol</key>
		<string>K_.isol.glif</string>
		<key>K.swsh</key>
		<string>K_.swsh.glif</string>
		<key>L</key>
		<string>L_.glif</string>
		<key>Lslash</key>
		<string>L_slash.glif</string>
		<key>N</key>
		<string>N_.glif</string>
		<key>OE</key>
		<string>O_E_.glif</string>
		<key>Oslash</key>
		<string>O_slash.glif</string>
		<key>Q</key>
		<string>Q_.glif</string>
		<key>Q.isol</key>
		<string>Q_.isol.glif</string>
		<key>R.isol</key>
		<string>R_.isol.glif</string>
		<key>Thorn</key>
		<string>T_horn.glif</string>
		<key>Uogonek</key>
		<string>U_ogonek.glif</string>
		<key>Y_e_a_h_exclam</key>
		<string>Y__e_a_h_exclam.glif</string>
		<key>_part.Q-swash</key>
		<string>_part.Q_-swash.glif</string>
		<key>_part.Q-tail</key>
		<string>_part.Q_-tail.glif</string>
		<key>a.medi</key>
		<string>a.medi.glif</string>
		<key>adieresis.medi</key>
		<string>adieresis.medi.glif</string>
		<key>adieresis.medi.salt</key>
		<string>adieresis.medi.salt.glif</string>
		<key>ae</key>
		<string>ae.glif</string>
		<key>ae.salt</key>
		<string>ae.salt.glif</string>
		<key>aogonek</key>
		<string>aogonek.glif</string>
		<key>aogonek.medi</key>
		<string>aogonek.medi.glif</string>
		<key>approxequal</key>
		<string>approxequal.glif</string>
		<key>at</key>
		<string>at.glif</string>
		<key>b.e</key>
		<string>b.e.glif</string>
		<key>b.medi</key>
		<string>b.medi.glif</string>
		<key>b.medi.e</key>
		<string>b.medi.e.glif</string>
		<key>braceright</key>
		<string>braceright.glif</string>
		<key>bracketright</key>
		<string>bracketright.glif</string>
		<key>d</key>
		<string>d.glif</string>
		<key>d.medi</key>
		<string>d.medi.glif</string>
		<key>dotaccentcomb</key>
		<string>dotaccentcomb.glif</string>
		<key>e</key>
		<string>e.glif</string>
		<key>e.medi</key>
		<string>e.medi.glif</string>
		<key>e.postb</key>
		<string>e.postb.glif</string>
		<key>eight</key>
		<string>eight.glif</string>
		<key>emdash</key>
		<string>emdash.glif</string>
		<key>eogonek</key>
		<string>eogonek.glif</string>
		<key>eogonek.postb</key>
		<string>eogonek.postb.glif</string>
		<key>eth</key>
		<string>eth.glif</string>
		<key>eth.posto</key>
		<string>eth.posto.glif</string>
		<key>exclamdown</key>
		<string>exclamdown.glif</string>
		<key>g</key>
		<string>g.glif</string>
		<key>g.isol</key>
		<string>g.isol.glif</string>
		<key>g.medi.e</key>
		<string>g.medi.e.glif</string>
		<key>gClef-musical</key>
		<string>gC_lef-musical.glif</string>
		<key>germandbls.salt</key>
		<string>germandbls.salt.glif</string>
		<key>guilsinglright</key>
		<string>guilsinglright.glif</string>
		<key>h</key>
		<string>h.glif</string>
		<key>hyphen.calt</key>
		<string>hyphen.calt.glif</string>
		<key>ij</key>
		<string>ij.glif</string>
		<key>ij.e</key>
		<string>ij.e.glif</string>
		<key>iogonek</key>
		<string>iogonek.glif</string>
		<key>isuperior</key>
		<string>isuperior.glif</string>
		<key>joint.Ea</key>
		<string>joint.E_a.glif</string>
		<key>joint.Ex</key>
		<string>joint.E_x.glif</string>
		<key>joint.Ez</key>
		<string>joint.E_z.glif</string>
		<key>joint.Ge</key>
		<string>joint.G_e.glif</string>
		<key>joint.ex</key>
		<string>joint.ex.glif</string>
		<key>joint.ge</key>
		<string>joint.ge.glif</string>
		<key>joint.oe</key>
		<string>joint.oe.glif</string>
		<key>joint.oh</key>
		<string>joint.oh.glif</string>
		<key>joint.qn</key>
		<string>joint.qn.glif</string>
		<key>joint.qz</key>
		<string>joint.qz.glif</string>
		<key>joint.schwae</key>
		<string>joint.schwae.glif</string>
		<key>l.medi</key>
		<string>l.medi.glif</string>
		<key>less</key>
		<string>less.glif</string>
		<key>lessequal</key>
		<string>lessequal.glif</string>
		<key>lslash</key>
		<string>lslash.glif</string>
		<key>o.e</key>
		<string>o.e.glif</string>
		<key>oe</key>
		<string>oe.glif</string>
		<key>one.tosf</key>
		<string>one.tosf.glif</string>
		<key>paragraph</key>
		<string>paragraph.glif</string>
		<key>q</key>
		<string>q.glif</string>
		<key>question</key>
		<string>question.glif</string>
		<key>questiondown</key>
		<string>questiondown.glif</string>
		<key>r</key>
		<string>r.glif</string>
		<key>schwa.medi</key>
		<string>schwa.medi.glif</string>
		<key>section</key>
		<string>section.glif</string>
		<key>seven.salt</key>
		<string>seven.salt.glif</string>
		<key>six</key>
		<string>six.glif</string>
		<key>thorn</key>
		<string>thorn.glif</string>
		<key>two.salt</key>
		<string>two.salt.glif</string>
		<key>udieresis</key>
		<string>udieresis.glif</string>
		<key>uogonek</key>
		<string>uogonek.glif</string>
		<key>w</key>
		<string>w.glif</string>
		<key>whiteRightBackhandIndex</key>
		<string>whiteR_ightB_ackhandI_ndex.glif</string>
		<key>whiteRightBackhandIndex.VAR</key>
		<string>whiteR_ightB_ackhandI_ndex.V_A_R_.glif</string>
		<key>x</key>
		<string>x.glif</string>
		<key>y</key>
		<string>y.glif</string>
		<key>y.e</key>
		<string>y.e.glif</string>
		<key>y.fina</key>
		<string>y.fina.glif</string>
		<key>yen</key>
		<string>yen.glif</string>
		<key>zero.tf</key>
		<string>zero.tf.glif</string>
		<key>zerosuperior</key>
		<string>zerosuperior.glif</string>
	</dict>
</plist>
