<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>.notdef</key>
		<string>_notdef.glif</string>
		<key>B_r_a_v_o_exclam_exclam_exclam</key>
		<string>B__r_a_v_o_exclam_exclam_exclam.glif</string>
		<key>C</key>
		<string>C_.glif</string>
		<key>D</key>
		<string>D_.glif</string>
		<key>Eng</key>
		<string>E_ng.glif</string>
		<key>Iogonek</key>
		<string>I_ogonek.glif</string>
		<key>J</key>
		<string>J_.glif</string>
		<key>OE</key>
		<string>O_E_.glif</string>
		<key>Oslash</key>
		<string>O_slash.glif</string>
		<key>P</key>
		<string>P_.glif</string>
		<key>R</key>
		<string>R_.glif</string>
		<key>Uogonek.ss05</key>
		<string>U_ogonek.ss05.glif</string>
		<key>Y_e_a_h_exclam</key>
		<string>Y__e_a_h_exclam.glif</string>
		<key>a</key>
		<string>a.glif</string>
		<key>a.ss04</key>
		<string>a.ss04.glif</string>
		<key>aogonek</key>
		<string>aogonek.glif</string>
		<key>aogonek.ss04</key>
		<string>aogonek.ss04.glif</string>
		<key>at</key>
		<string>at.glif</string>
		<key>barcomb</key>
		<string>barcomb.glif</string>
		<key>braceright</key>
		<string>braceright.glif</string>
		<key>bracketright</key>
		<string>bracketright.glif</string>
		<key>c</key>
		<string>c.glif</string>
		<key>caroncomb</key>
		<string>caroncomb.glif</string>
		<key>caroncomb.case</key>
		<string>caroncomb.case.glif</string>
		<key>circumflexcomb.case</key>
		<string>circumflexcomb.case.glif</string>
		<key>emdash</key>
		<string>emdash.glif</string>
		<key>eng</key>
		<string>eng.glif</string>
		<key>eogonek</key>
		<string>eogonek.glif</string>
		<key>eth</key>
		<string>eth.glif</string>
		<key>exclam</key>
		<string>exclam.glif</string>
		<key>exclamdown</key>
		<string>exclamdown.glif</string>
		<key>f.ss01</key>
		<string>f.ss01.glif</string>
		<key>g</key>
		<string>g.glif</string>
		<key>gClef-musical</key>
		<string>gC_lef-musical.glif</string>
		<key>guilsinglleft</key>
		<string>guilsinglleft.glif</string>
		<key>h</key>
		<string>h.glif</string>
		<key>hyphen.calt</key>
		<string>hyphen.calt.glif</string>
		<key>iogonek</key>
		<string>iogonek.glif</string>
		<key>k</key>
		<string>k.glif</string>
		<key>n</key>
		<string>n.glif</string>
		<key>nine.old</key>
		<string>nine.old.glif</string>
		<key>p</key>
		<string>p.glif</string>
		<key>paragraph</key>
		<string>paragraph.glif</string>
		<key>parenright</key>
		<string>parenright.glif</string>
		<key>q</key>
		<string>q.glif</string>
		<key>q.ss02</key>
		<string>q.ss02.glif</string>
		<key>question</key>
		<string>question.glif</string>
		<key>questiondown</key>
		<string>questiondown.glif</string>
		<key>quoteleft</key>
		<string>quoteleft.glif</string>
		<key>quoteright</key>
		<string>quoteright.glif</string>
		<key>r</key>
		<string>r.glif</string>
		<key>ringcomb.case</key>
		<string>ringcomb.case.glif</string>
		<key>s_e_h_r_g_u_t_exclam</key>
		<string>s_e_h_r_g_u_t_exclam.glif</string>
		<key>section</key>
		<string>section.glif</string>
		<key>seven</key>
		<string>seven.glif</string>
		<key>thorn</key>
		<string>thorn.glif</string>
		<key>tildecomb.case</key>
		<string>tildecomb.case.glif</string>
		<key>upperRightPencil</key>
		<string>upperR_ightP_encil.glif</string>
		<key>whiteRightBackhandIndex</key>
		<string>whiteR_ightB_ackhandI_ndex.glif</string>
		<key>whiteRightBackhandIndex.VAR</key>
		<string>whiteR_ightB_ackhandI_ndex.V_A_R_.glif</string>
	</dict>
</plist>
